---
import * as m from "@messages/messages";
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = m.index_title();
const description = m.index_meta_description();
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <section>
    <h1
      class="py-10 text-center text-3xl font-bold [font-variant-caps:small-caps]"
    >
      {m.le_chainon_manquant_studio()}
    </h1>
  </section>
</BaseLayout>
