---
import * as m from "@messages/messages";
import BaseLayout from "@layouts/BaseLayout.astro";
import { LcnmqtLogo } from "@components";

const pageTitle = m.index_title();
const description = m.index_meta_description();
---

<BaseLayout pageTitle={pageTitle} description={description}>
  <section>
    <h1 class="flex items-center justify-center">
      <LcnmqtLogo class="my-10 w-56" />
    </h1>
    <p class="text-center">{description}</p>
  </section>
</BaseLayout>
