---
import { availableLanguageTags } from "@messages/runtime";
import { LanguageTag, Link } from "./";

const { currentLocale } = Astro;
---

<ul
  class="flex flex-col items-end justify-between gap-1 md:flex-row md:items-center md:justify-end md:gap-2"
>
  {
    availableLanguageTags.map((lang) => (
      <li>
        {lang === currentLocale ? (
          <LanguageTag lang={lang} />
        ) : (
          <Link href={`/${lang}/`} hreflang={lang}>
            {lang}
          </Link>
        )}
      </li>
    ))
  }
</ul>
